<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <mat-card-title class="myfonts" style="color: rgb(255, 255, 255);">Bekker & Co</mat-card-title>
    </span>
    <div class="flex-stretch"></div>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <app-home></app-home>
  <app-cart></app-cart>
  <app-about></app-about>

</div> -->


<!-- <div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <span><mat-card-title class="myfonts" style="color: rgb(255, 255, 255);">Bekker & Co</mat-card-title></span>
      <span class="menu-spacer"></span>
        <div class="flex-stretch"></div> -->
        <!-- <mat-icon class="ml-3">brightness_5</mat-icon> -->
        <!-- <mat-slide-toggle [formControl]="toggleControl" class="ml-3">
        </mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>      
    </mat-toolbar-row>
  </mat-toolbar> -->

  
<!-- 
  <div fxShow="true" fxHide.lt-md>
    <mat-toolbar color="primary" style="height: auto;"> -->
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <!-- <a class="custom-toolbar" routerLink="/home" mat-button>Home</a>
        <span class="nav-spacer"></span>
        <a routerLink="/products" mat-button>Products</a>
        <span class="nav-spacer"></span>
        <a routerLink="/about" mat-button>About</a>
        <span class="menu-spacer"></span>
        <a routerLink="/cart" mat-icon-button><mat-icon>shopping_cart</mat-icon></a>
        <a routerLink="/contact" mat-button>Contact Us</a>
    </mat-toolbar>       
  </div> -->

  <!-- <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.toggle()"> -->
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
        <!-- <a routerLink="/home" mat-list-item>Home</a>
        <a routerLink="/products" mat-list-item>Products</a>
        <a routerLink="/about" mat-list-item>About</a>
        <a routerLink="/contact" mat-list-item>Contact Us</a>
        <div id="bottom">
          <a routerLink="/cart" mat-list-item ><mat-icon>shopping_cart</mat-icon>Checkout</a>
        </div> -->
        
      <!-- </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink="/home">
        <strong class="logofont">F&R</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link boldnav" routerLink="/home">Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link boldnav" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a mat-icon-button class="nav-link boldnav" routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
          </li>
        </ul>      
      
    </links>
  </mdb-navbar>
  <!-- Main -->  
  <div class="view intro-2">
    <div class="full-bg-img">      
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text main">
          <router-outlet></router-outlet>
          <!-- <br> -->
          <!-- <h5>It will always stay visible on the top, even when you scroll down</h5>
          <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
          <br>
          <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</main>
<!--Main Layout-->